@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
*{
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url(./images/banner/banner1.png);
    width: 100%;
    padding:200px 0;
    text-align: right;
     background-size:cover;
    color: #000;
}
.banner-item{
     margin-right: 150px;
     padding: 0 ,0,0,30px;
}
.btn{
    padding: 20px 40px;
    background: rgb(242, 100, 12);
    border:none;
    border-radius: 5px;
    color: #fff;
}
.banner-title{
    font-size:50px;
}
.sub-title{
    margin:20px 0 ;
}