/*default setup*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
*{
    margin: 0;
    padding: 0;
}
/*header banner start*/
.banner{
    background-image: url(./images/banner/banner1.png);
    width: 100%;
    padding:200px 0;
    text-align: right;
     background-size:cover;
    color: #000;
}
.banner-item{
     margin-right: 150px;
     padding: 0 ,0,0,30px;
}
.btn{
    padding: 20px 40px;
    background: rgb(242, 100, 12);
    border:none;
    border-radius: 5px;
    color: #fff;
    font-weight: 300;
}
.banner-title{
    font-size:70px;
    font-weight: 700;
}
.sub-title{
    margin:20px 0 ;
    color: gray;
    font-size: 20px;
}
/*header banner end*/
/*services start*/
.services{
    
    margin:100px 200px;
}
.service{
    display: flex;
    justify-content: space-between;
}
.service-item{
    margin-top: 150px;
    margin-left: 50px;
}
.service-title{
    font-size: 50px;
    margin-bottom: 10px;
}
.service-subtile{
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}
/*services End*/
/*call to action start*/

/*call to action end*/