/*default setup*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
*{
    margin: 0;
    padding: 0;
}
/*header banner start*/
.banner{
    background-image: url(./images/banner/banner1.png);
    width: 100%;
    padding:200px 0;
    text-align: right;
     background-size:cover;
    color: #000;
}
.banner-item{
     margin-right: 150px;
     padding: 0 ,0,0,30px;
}
.btn{
    padding: 20px 40px;
    background: rgb(242, 100, 12);
    border:none;
    border-radius: 5px;
    color: #fff;
    font-weight: 300;
}
.banner-title{
    font-size:70px;
    font-weight: 700;
}
.sub-title{
    margin:20px 0 ;
    color: gray;
    font-size: 20px;
}
/*header banner end*/
/*services start*/
.services{
    
    margin:100px 200px;
}
.service{
    display: flex;
    justify-content: space-between;
}
.service-item{
    margin-top: 150px;
    margin-left: 50px;
}
.service-title{
    font-size: 50px;
    margin-bottom: 10px;
}
.service-subtile{
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}
.service-name{
    font-size: 15px;
    padding: 10px 0;
    color: gray;
}
/*services End*/
/* Plans start*/
.plans{
    margin:0 200px;
    padding: 30px; 
}
.my-plan{
    text-align: center;
    padding: 30px 0;
     
  }
  .plan-items{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plan{
    padding: 20px 30px;
  }
/* Plans end*/
/*call to action start*/
.show_bg_2 {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/watch.png');
    width: 80%;
    height: 400px;
    background-size: cover;
    color: white;
    padding: 20px;
}
.container{
    margin: 100px 200px;
}
.call-to-action-item{
    
    background-image: url(./images/gradient2.png),url(./images/watch.png);
    padding: 80px 20px;

}
.call-to-header{
    color: #fff;
    font-size: 30px;
    margin-left:30px ;
    margin-bottom: 15px;
}
.call-btn{
    padding: 20px 40px;
    border-radius: 5px;
    color:rgb(242, 100, 12); ;
    font-weight: bold;
    margin-left: 30px;
}
i{
    color: #0fbf1b;
    font-size: 20px;
    padding: 5px 10px;
}
/*call to action end*/
/* footer start*/
.footer-content{
    display: flex;
    justify-content:space-around;
}
.footer-item{
     margin: 0 50px;
}
.footer-header{
    color: #fff;
    padding:20px 0;
}
.contact{
    padding: 20px 0;
     
}
.footer-icon{
    margin-top: 10px;
}
.images{
    padding: 10px 10px;
}
footer{
    padding:100px;
    background-color: #000;
    color: #fff;
}
/* footer end*/